<template>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Actividades</div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" @click="terminarActividades"><i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <actividad-form :actividad="actividad" :tipo-apoyos="programa.tipo_apoyos"></actividad-form>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo apoyo</th>
                            <th>Actividad</th>
                            <th>Proposito</th>
                            <th>Tipo acción</th>
                            <th>Prespuesto estimado</th>
                            <th>Prespuesto ejercido</th>
                            <th>Obervaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="tipoApoyo in tipoApoyos">
                            <template v-for="actividad in tipoApoyo.actividades">
                                <tr>
                                    <td>{{ tipoApoyo.descripcion }}</td>
                                    <td>{{ actividad.activdad }}</td>
                                    <td>{{ actividad.proposito }}</td>
                                    <td>{{ actividad.tipo_accion }}</td>
                                    <td>{{ actividad.presupuesto_estimado }}</td>
                                    <td>{{ actividad.presupuesto_ejercido }}</td>
                                    <td>{{ actividad.observaciones }}</td>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import ActividadForm from '../../components/programas/ActividadFormComponent';

    export default {
        props: ['programa'],
        components: {ActividadForm},
        data() {
            return {
                tipoApoyos: [],
                actividad: {},
                action: 'Guardar'
            }
        },
        created: function () {
            axios.get(route('actividades.index', this.programa.id))
                .then(res => {
                    this.tipoApoyos = res.data.actividades;
                })
                .catch(err => {
                    console.log(err.response);
                    swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Lo sentimos, ocurrio un error al intentar obtener las actividades del programa',
                    })
                })
        },
        methods: {
            terminarActividades() {
                this.$emit('terminarActividades');
            },
            addActividad() {
                this.actividad = {
                    programa_tipo_apoyo_id: '',
                    activdad: '',
                    proposito: '',
                    tipo_accion: '',
                    presupuesto_estimado: '',
                    presupuesto_ejercido: '',
                    observaciones: '',
                }
            }
        }
    }
</script>

<style scoped>

</style>