<template>
    <form @submit.prevent="save">
        <div class="form-row">
            <div class="col form-group"><label for="">Actividad</label><textarea v-model="actividad.activdad" class="form-control" rows="3"></textarea></div>
            <div class="col form-group"><label for="">Proposito</label><textarea v-model="actividad.proposito" class="form-control" rows="3"></textarea></div>
        </div>
        <div class="form-row">
            <div class="col form-group"><label for="">Tipo de acción</label><textarea v-model="actividad.tipo_accion" class="form-control" rows="3"></textarea></div>
        </div>
        <div class="form-row">
            <div class="col form-group"><label for="">Presupuesto
                estimado</label><input type="number" step="1" min="0" class="form-control" v-model="actividad.presupuesto_estimado"></div>
            <div class="col form-group"><label for="">Presupuesto
                ejercido</label><input type="number" step="1" min="0" class="form-control" v-model="actividad.presupuesto_ejercido"></div>
        </div>
        <div class="form-row">
            <div class="col form-group"><label for="">Observaciones</label><textarea class="form-control" v-model="actividad.observaciones" rows="3"></textarea></div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <button type="submit" class="btn btn-success">{{ form.action }}</button>
                <button type="button" class="btn btn-default" @click="close">Cerrar</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['actividad', 'tipoApoyos', 'form'],
        data() {
            return {}
        },
        created: function () {

        },
        methods: {
            close() {
                this.$emit('close');
            },
            save(){
                this.$emit('save', this.actividad);
            }
        }
    }
</script>

<style scoped>

</style>