<template>
    <div class="progress" v-if="ready">
        <div class="progress-bar" :class="progressClass" role="progressbar" :aria-valuenow="porcentajeAvance" aria-valuemin="0" aria-valuemax="100" :style="'width: '+porcentajeAvance+'%'">
            <span>{{porcentajeAvance}}% de Avance</span>
        </div>
    </div>
    <div v-else>
        <p class="mb-0">Calculando avance...</p>
    </div>
</template>

<script>
    export default {
        props: ['programaId'],
        data() {
            return {
                tipo_apoyos: [],
                ready: false
            }
        },
        created: function () {
            this.ready = false;
            axios.get(route('actividades.index', this.programaId))
                .then(res => {
                    this.tipo_apoyos = res.data.actividades;
                    this.ready = true;
                })
                .catch(err => {
                    console.log(err.response);
                });
        },
        filters: {
            color: function (value) {
                if (value <= 30) {
                    return 'p' + value + ' bg-danger'
                } else if (value > 30 && value <= 80) {
                    return 'p' + value + ' orange'
                } else {
                    return 'p' + value + ' green'
                }
            }
        },
        computed: {
            avancePuntos() {
                let suma = 0;
                _.forEach(this.tipo_apoyos, function (tipo) {
                    _.forEach(tipo.actividades, function (actividad) {
                        suma += _.sumBy(actividad.metas, function (meta) {
                            return meta.avance
                        })
                    })
                });
                return suma;
            },
            totalPuntos() {
                let total = 0;
                _.forEach(this.tipo_apoyos, function (tipo) {
                    _.forEach(tipo.actividades, function (actividad) {
                        total += actividad.metas.length
                    })
                });
                return total * 100;
            },
            porcentajeAvance() {
                if (this.avancePuntos == 0) {
                    return 1
                }
                return Math.ceil((this.avancePuntos * 100) / this.totalPuntos);
            },
            progressClass() {
                if (this.porcentajeAvance <= 30) {
                    return 'bg-danger'
                } else if (this.porcentajeAvance > 30 && this.porcentajeAvance <= 80) {
                    return 'bg-warning'
                } else {
                    return 'bg-success'
                }
            }
        }
    }
</script>

<style scoped>

</style>