<template>
    <div class="card">
        <div class="card-header">
            {{action}} Programa
        </div>
        <div class="card-body">
            <form @submit.prevent="save">
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Nombre del programa</label>
                        <input type="text" class="form-control" v-model="programa.descripcion">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Área responsable</label>
                        <select v-model="programa.area_responsable_id" class="form-control">
                            <option disabled value="">Seleccione...</option>
                            <option v-for="option in areasResponsables" :value="option.id">
                                {{ option.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Responsable</label>
                        <select v-model="programa.responsable_id" class="form-control">
                            <option disabled value="">Seleccione...</option>
                            <option v-for="option in responsables" :value="option.id">
                                {{ option.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Área operativa</label>
                        <select v-model="programa.area_operativa_id" class="form-control">
                            <option disabled value="">Seleccione...</option>
                            <option v-for="option in areasOperativas" :value="option.id">
                                {{ option.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label for="">Responsable operativo</label>
                        <select v-model="programa.responsable_operativo_id" class="form-control">
                            <option disabled value="">Seleccione...</option>
                            <option v-for="option in responsablesOperativos" :value="option.id">
                                {{ option.descripcion }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <p></p>
                        <button class="btn btn-success" type="submit">{{action}}</button>
                        <button class="btn btn-default" type="button" @click="editMode">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['programa', 'action'],
        data() {
            return {
                areasResponsables: [],
                areasOperativas: [],
                responsables: [],
                responsablesOperativos: []
            }
        },
        created: function () {
            axios.get(route('api.areas.responsables'))
                .then(res => {
                    this.areasResponsables = res.data.areas;
                    this.areasOperativas = res.data.areas;
                })
                .catch(err => {
                    console.log(err.response)
                });

            axios.get(route('api.responsables'))
                .then(res => {
                    this.responsables = res.data.responsables;
                    this.responsablesOperativos = res.data.responsables;
                })
                .catch(err => {

                })
        },
        methods: {
            save() {
                this.$emit('save', this.programa)
            },
            editMode() {
                this.$emit('editMode');
            }
        }
    }
</script>

<style scoped>

</style>