<template>
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="user-block">
                    <span class="ml-0 username" style="font-size: 18px"><strong>{{ programa.descripcion }}</strong></span>
                    <div class="btn-group">
                        <button class="pl-0 btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opciones
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" @click="editarPrograma(programa)">Editar</a>
                            <a class="dropdown-item" :href="'/programas/'+programa.id+'/actividades'">Actividades</a>
                            <a class="dropdown-item" :href="'/programas/'+programa.id+'/ministraciones'">Ministraciones</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-building"></i> <strong>Área responsable</strong></p>
                    </div>
                    <div class="col">
                        <p>{{ programa.area_responsable.descripcion }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-user"></i> <strong>Responsable</strong></p>
                    </div>
                    <div class="col"><p>{{ programa.responsable.descripcion }}</p></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-building"></i> <strong>Área operativa</strong></p>
                    </div>
                    <div class="col"><p>{{ programa.area_operativa.descripcion }}</p></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-user"></i> <strong>Responsable operativo</strong></p>
                    </div>
                    <div class="col"><p>{{ programa.responsable_operativo.descripcion }}</p></div>
                </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-usd"></i> <strong>Ministraciones</strong></p>
                    </div>
                    <div class="col">
                        <p class="text-right">{{ programa.ministraciones.length }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-usd"></i> <strong>Presupuesto</strong></p>
                    </div>
                    <div class="col"><p class="text-right">{{ programa.presupuesto }}</p></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p><i class="gi gi-usd"></i> <strong>Ejercido</strong></p>
                    </div>
                    <div class="col">
                        <p class="text-right">{{ programa.presupuesto_ejercido }}</p>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <avance :programa-id="programa.id"></avance>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Avance from '../../components/programas/AvanceProgramaProgressBarComponent';

    export default {
        components: {Avance},
        props: ['programa', 'index'],
        data() {
            return {}
        },
        methods: {
            editarPrograma(programa) {
                let args = {
                    programa: programa,
                    action: 'Actualizar',
                    index: this.index,
                };
                this.$emit('edit', args);
            }
        }
    }
</script>

<style scoped>

</style>