<template>
    <div class="card">
        <div class="card-header">
            {{ programa.descripcion }}
        </div>
        <div class="card-body">
            <div class="c100" :class="porcentajeAvance|color">
                <span>{{porcentajeAvance}}%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <div is="stat-circle" percentage="80"></div>
            <h4 class="card-title">title</h4>
            <p class="card-text">text</p>
            <a href="#" class="btn btn-primary">button</a>
        </div>
        <div class="card-footer text-muted">
            <div class="progress">
                <div class="progress-bar" :class="progressClass" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" :style="'width: '+porcentajeAvance+'%'">
                    <span class="sr-only">{{ porcentajeAvance }}% Complete (warning)</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['programa'],
        data() {
            return {
                actividades: []
            }
        },
        filters: {
            color: function (value) {
                if (value <= 30) {
                    return 'p' + value + ' bg-danger'
                } else if (value > 30 && value <= 80) {
                    return 'p' + value + ' orange'
                } else {
                    return 'p' + value + ' green'
                }
            }
        },
        computed: {
            totalCienPorCiento() {
                return this.actividades.length * 100;
            },
            totalAcumulado() {
                return _.sumBy(this.actividades, function (a) {
                    return a.avance
                })
            },
            porcentajeAvance() {
                if (this.totalAcumulado == 0) {
                    return 1
                }
                return Math.ceil((this.totalAcumulado * 100) / this.totalCienPorCiento);
            },
            progressClass() {
                if (this.porcentajeAvance <= 30) {
                    return 'bg-danger'
                } else if (this.porcentajeAvance > 30 && this.porcentajeAvance <= 80) {
                    return 'bg-warning'
                } else {
                    return 'bg-success'
                }
            }
        },
        created: function () {
            axios.get(route('actividades.index', this.programa.id))
                .then(res => {
                    this.actividades = res.data.actividades;
                })
                .catch(err => {
                    console.log(err.response);
                })
        }
    }
</script>

<style scoped>

</style>