<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h1 class="card-title">Nueva reunión</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="save">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="">Reunión</label>
                                    <input type="text" class="form-control" v-model="reunion.descripcion">
                                </div>
                                <div class="form-group col">
                                    <label for="">Fecha</label>
                                    <input type="date" class="form-control text-right" v-model="reunion.fecha">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button class="btn btn-success" type="submit">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3" v-for="(reunion, index) in reuniones">
                <reunion-card :reunion="reunion" :index="index"></reunion-card>
            </div>
        </div>
    </div>
</template>

<script>
    import ReunionCard from '../../components/reuniones/ReunionCardComponent';

    export default {
        props: ['re'],
        components: {ReunionCard},
        data() {
            return {
                reunion: {
                    descripcion: '',
                    fecha: ''
                }
            }
        },
        created: function () {
            let store = this.$store;
            store.commit('reuniones/reuniones', this.re);
        },
        computed: {
            reuniones() {
                return this.$store.state.reuniones.reuniones;
            }
        },
        methods: {
            save() {
                let store = this.$store;
                store.dispatch('reuniones/createReunion', this.reunion)
                    .then(nuevaReunion => {
                        console.log(nuevaReunion);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>

</style>