<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" v-for="programa in programas">
                <programa-card :programa="programa"></programa-card>
            </div>
        </div>
    </div>
</template>

<script>
    import ProgramaCard from '../components/ProgramaCardComponent';

    export default {
        components: {ProgramaCard},
        data() {
            return {
                programas: []
            }
        },
        created: function () {
            axios.get(route('programas.index'))
                .then(response => {
                    this.programas = response.data.programas
                })
                .catch(err => {
                    console.log(err.response)
                })
        }
    }
</script>

<style scoped>

</style>