<script>
    import store from '../../store';
    import Form from './AcuerdoForm';

    export default {
        props:['reunionId'],
        render(createElement) {
            return createElement(Form, {
                props: {
                    title: 'Nuevo acuerdo',
                    action: 'Guardar',
                    acuerdo: {
                        reunion_id: this.reunionId,
                        descripcion: '',
                        fecha_inicio: '',
                        fecha_fin: '',
                        observaciones: '',
                    }
                },
                on: {
                    save: function (draft) {
                        store.dispatch('reuniones/createAcuerdo', draft)
                            .then(nuevoAcuerdo => {
                                console.log(nuevoAcuerdo)
                            })
                            .catch(err => {
                                console.log(err)
                            })
                    }
                }
            })
        }
    }
</script>

<style scoped>

</style>