<template>
    <form @submit.prevent="save">
        <div class="form-row">
            <div class="form-group col">
                <label for="">Acuerdo</label>
                <input type="text" v-model="draft.descripcion" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="">Fecha inicio</label>
                <input type="text" v-model="draft.fecha_inicio" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="">Fecha fin</label>
                <input type="text" v-model="draft.fecha_fin" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="">Observaciones</label>
                <textarea v-model="draft.observaciones" rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <button class="btn btn-success">{{ action }}</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ['title', 'action', 'acuerdo'],
        data() {
            return {
                draft: clone(this.acuerdo),
            }
        },
        methods: {
            save() {
                this.$emit('save', this.draft);
                this.draft = clone(this.acuerdo);
            }
        }
    }
</script>

<style scoped>

</style>