<template>
    <div class="acuerdo-box border-bottom pl-3 pt-2 pr-2">
        <div class="acuerdo-box-title mb-2">{{ acuerdo.descripcion }}</div>
        <div class="acuerdo-box-details">
            <span>
                <a href="">
                    <i class="fa fa-users"></i>
                    {{ totalInvitados }} Invitados
                </a>
            </span>
            &nbsp;
            &nbsp;
            <span>
                <a href="">
                    <i class="fa fa-comments"></i>
                    {{ totalComentarios }} Comentarios
                </a>
            </span>
            &nbsp;
            &nbsp;
            <span v-if="!agregaComentario" @click="agregaComentario = !agregaComentario">
                <i class="fa fa-plus"></i>
                Agregar comentario
            </span>
            <span v-else @click="agregaComentario = !agregaComentario">
                <i class="fa fa-close"></i>
                Cerrar
            </span>
        </div>
        <div class="card-footer card-comments" v-if="agregaComentario">
            <comment-card v-for="(comment, index) in comentarios" :comment="comment" :index="index" :key="comment.id"></comment-card>
        </div>
        <div class="comments-box p-2" v-if="agregaComentario">
            <comment-form :reunion-id="acuerdo.id" :comentario="comentario" @save="saveComentario"></comment-form>
        </div>
    </div>
</template>

<script>
    import CommentCard from '../../components/reuniones/CommentCardComponent';
    import CommentForm from '../../components/reuniones/CommentFormComponent';

    export default {
        props: ['acuerdo', 'index'],
        components: {CommentForm, CommentCard},
        data() {
            return {
                comentario: {
                    reunion_id: this.acuerdo.id,
                    comentario: ''
                },
                agregaComentario: false,
            }
        },
        watch: {},
        computed: {
            invitados() {
                return this.acuerdo.invitados
            },
            comentarios() {
                return this.acuerdo.comments
            },
            totalInvitados() {
                return this.invitados.length
            },
            totalComentarios() {
                return this.comentarios.length
            }
        },
        methods: {
            saveComentario() {
                let store = this.$store;
                store.dispatch('reuniones/createAcuerdoComentario', {reunion_id: this.acuerdo.reunion_id, comentario: this.comentario})
                    .then(nuevoComentario => {
                        this.comentario.comentario = '';
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>
    .acuerdo-box .acuerdo-box-title {
        color: #2e2e2e;
        font-size: 16px;
        font-weight: 600;
    }

    .acuerdo-box .acuerdo-box-details span {
        cursor: pointer;
    }

    .acuerdo-box .acuerdo-box-details span,
    .acuerdo-box .acuerdo-box-details span a {
        color: #707070;
        font-size: 14px;
        font-weight: 400;
    }

    .acuerdo-box .comments-box {
        background-color: #F7F7F7;
    }
</style>