<template>
    <form @submit.prevent="save">
        <!--<img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">-->
        <!-- .img-push is used to add margin to elements next to floating images -->
        <div class="img-push">
            <input type="text" v-model="comentario.comentario" class="form-control form-control-sm" placeholder="Presiona enter para enviar un comentario">
        </div>
    </form>
</template>

<script>
    export default {
        props: ['reunionId', 'comentario'],
        data() {
            return {

            }
        },
        methods: {
            save() {
                this.$emit('save', this.comentario);
            }
        }
    }
</script>

<style scoped>

</style>