<template>
    <div class="card-comment">
        <!-- User image -->
        <!--<img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">-->
        <div class="comment-text">
            <span class="username">
              {{ comment.user.name }}
              <span class="text-muted float-right">{{ comment.created_at }}</span>
            </span><!-- /.username -->
            {{ comment.comentario }}
        </div>
        <!-- /.comment-text -->
    </div>
</template>

<script>
    export default {
        props: ['comment', 'index']
    }
</script>

<style scoped>

</style>