<template>
    <div class="card card-widget">
        <div class="card-header">
            <div class="user-block">
                <span class="reunion-descripcion"><a href="#">{{ reunion.descripcion }}</a></span>
                <span class="reunion-fecha">{{ reunion.fecha }}</span>
                &nbsp;
                &nbsp;
                <span class="reunion-fecha">
                    <a href="">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;
                        {{ totalAcuerdos }} Acuerdos
                    </a>
                </span>
                &nbsp;
                &nbsp;
                <span class="reunion-fecha">
                    <a href="">
                        <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
                        {{ totalComentarios }} Comentarios
                    </a>
                </span>
                &nbsp;
                &nbsp;
                <span id="agregar-acuerdo" class="reunion-fecha" @click="agregaAcuerdo=!agregaAcuerdo">
                    <i class="fa fa-plus" v-if="!agregaAcuerdo"></i>
                    <i class="fa fa-close" v-else></i>
                    &nbsp;
                    {{ agregarAcuerdoButton }}
                </span>
            </div>
            <!-- /.user-block -->
            <!--<div class="card-tools">
                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
                    <i class="fa fa-circle-o"></i></button>
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>-->
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body pb-0">
            <acuerdo-create v-if="agregaAcuerdo" :reunion-id="reunion.id"></acuerdo-create>
        </div>
        <div class="card-body pt-0" v-if="!agregaAcuerdo">
            <div class="row" v-for="(acuerdo, index) in acuerdos">
                <div class="col">
                    <acuerdo-box :acuerdo="acuerdo" :index="index"></acuerdo-box>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- post text -->

            <!-- Social sharing buttons -->
            <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i> Share</button>
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-thumbs-o-up"></i> Like</button>-->
            <span class="float-right text-muted">{{ totalComentarios }} Comentarios</span>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments">
            <comment-card v-for="(comment, index) in comentarios" :comment="comment" :index="index" :key="comment.id"></comment-card>
        </div>
        <!-- /.card-footer -->
        <div class="card-footer">
            <comment-form :reunion-id="reunion.id" :comentario="comentario" @save="saveComentario"></comment-form>
        </div>
        <!-- /.card-footer -->
    </div>
</template>

<script>
    import AcuerdoBox from '../../components/reuniones/AcuerdoBoxComponent';
    import CommentCard from '../../components/reuniones/CommentCardComponent';
    import CommentForm from '../../components/reuniones/CommentFormComponent';
    import AcuerdoCreate from '../../components/reuniones/AcuerdoCreateComponent';

    export default {
        props: ['reunion', 'index'],
        components: {AcuerdoBox, CommentCard, CommentForm, AcuerdoCreate},
        data() {
            return {
                agregaAcuerdo: false,
                agregarAcuerdoButton: 'Agregar Acuerdo',
                comentario:{
                    reunion_id: this.reunion.id,
                    comentario: ''
                }
            }
        },
        watch: {
            agregaAcuerdo: function (val) {
                this.agregarAcuerdoButton = (val) ? 'Cerrar' : 'Agregar acuerdo';
            }
        },
        computed: {
            acuerdos() {
                return this.reunion.acuerdos
            },
            comentarios() {
                return this.reunion.comments
            },
            totalAcuerdos() {
                return this.acuerdos.length
            },
            totalComentarios() {
                return this.comentarios.length
            },

        },
        methods: {
            saveComentario(nuevoComentario) {
                let store = this.$store;
                store.dispatch('reuniones/createReunionComentario', nuevoComentario)
                    .then(comentario => {
                        this.comentario.comentario = ''
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        }
    }
</script>

<style scoped>
    #agregar-acuerdo {
        cursor: pointer;
    }

    .user-block .reunion-descripcion {
        font-size: 16px;
        font-weight: 600;
    }

    .user-block .reunion-fecha,
    .user-block .reunion-fecha a {
        color: #999;
        font-size: 13px;
    }

    .user-block .reunion-descripcion {
        display: block;
    }
</style>