<template>
    <div class="container-fluid">
        <div class="row" v-if="!editMode">
            <div class="col-md-12">
                <button class="btn btn-primary" @click="addPrograma">Agregar programa</button>
                <p></p>
            </div>
        </div>
        <div class="row" v-if="editMode">
            <div class="col-md-8 offset-md-2">
                <form-programa @save="save" :programa="programa" :action="action" @editMode="toogleEditMode"></form-programa>
            </div>
        </div>
        <div class="row" v-else>
            <programa-card v-for="(programa,index) in programas"
                           :index="index"
                           :programa="programa"
                           :key="programa.id"
                           @editMode="toogleEditMode"
                           @edit="edit"></programa-card>
        </div>
        <div class="row">
            <div class="col-md-12">
                <notifications group="programas-index" position="top center" :duration="3000" :width="500"/>
            </div>
        </div>
    </div>
</template>

<script>
    import ProgramaCard from '../../components/programas/ProgramaCardComponent';
    import FormPrograma from '../../components/programas/FormProgramaComponent';

    export default {
        components: {ProgramaCard, FormPrograma},
        data() {
            return {
                programa: {},
                programas: [],
                editMode: false,
                action: 'Guardar',
                index: null
            }
        },
        created: function () {
            axios.get(route('api.programas.index'))
                .then(res => {
                    this.programas = res.data.programas
                })
                .catch(err => {
                    console.log(err.response);
                })
        },
        methods: {
            toogleEditMode() {
                this.editMode = (this.editMode != true);
            },
            addPrograma() {
                this.programa = {
                    descripcion: '',
                    area_responsable_id: '',
                    responsable_id: '',
                    area_operativa_id: '',
                    responsable_operativo_id: '',
                    presupuesto: 0.00,
                };
                this.action = 'Guardar';
                this.index = null;
                this.toogleEditMode();
            },
            save(programa) {
                if (this.action == 'Guardar') {
                    axios.post(route('api.programas.store'), {
                        programa: programa
                    })
                        .then(res => {
                            this.programas.push(res.data.programa);
                            this.toogleEditMode();

                            this.$notify({
                                group: 'programas-index',
                                type: 'success',
                                title: ':)',
                                text: 'El programa se guardó correctamente'
                            });
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.$notify({
                                group: 'programas-index',
                                type: 'error',
                                title: 'Atención',
                                text: 'Lo sentimos, algo ha salido mal al intentar guardar el programa, intente de nuevo'
                            });
                        })
                } else {
                    axios.patch(route('api.programas.update', this.programa.id), {
                        programa: this.programa
                    })
                        .then(res => {
                            this.programas[this.index] = res.data.programa;
                            this.toogleEditMode();
                            this.$notify({
                                group: 'programas-index',
                                type: 'success',
                                title: ':)',
                                text: 'El programa se actualizó correctamente'
                            });
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.$notify({
                                group: 'programas-index',
                                type: 'error',
                                title: '',
                                text: 'Lo sentimos, algo ha salido mal al intentar actualizar el programa, intente de nuevo'
                            });
                        })
                }

            },
            edit(args) {
                this.programa = {
                    id: args.programa.id,
                    descripcion: args.programa.descripcion,
                    area_responsable_id: args.programa.area_responsable_id,
                    responsable_id: args.programa.responsable_id,
                    area_operativa_id: args.programa.area_operativa_id,
                    responsable_operativo_id: args.programa.responsable_operativo_id,
                    presupuesto: args.programa.presupuesto,
                };

                this.action = args.action;
                this.index = args.index;
                this.toogleEditMode();
            }
        }
    }
</script>

<style scoped>

</style>