<template>
    <div class="container-fluid">
        <notifications group="programa-actividades-index" position="top center" :duration="3000" :width="500"/>
        <div class="row">
            <div class="col-md-8 offset-md-2" v-if="editMode">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Agregar actividad</h3>
                    </div>
                    <div class="card-body">
                        <actividad-form :actividad="actividad" :form="form" :tipo-apoyos="programa.tipo_apoyos" @save="save" @close="close"></actividad-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" v-if="!editMode">
                <div class="card card-primary card-outline">
                    <div class="card-header d-flex">
                        <h3 class="card-title">{{ programa.descripcion }}</h3>
                        <div class="card-tools">
                            <div class="dropdown open">
                                <button v-if="!editMetas" class="btn btn-primary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Agregar componente o subprograma
                                </button>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                    <form @submit.prevent="saveNuevoTipo" class="px-4 py-3">
                                        <div class="form-group">
                                            <label for="">Descripción</label>
                                            <textarea v-model="nuevo_tipo.descripcion" rows="3" class="form-control"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Actividad</th>
                                    <th>Proposito</th>
                                    <th>Tipo acción</th>
                                    <th class="text-right">Prespuesto estimado</th>
                                    <th class="text-right">Prespuesto ejercido</th>
                                    <th>Obervaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template v-for="tipoApoyo in tipos">
                                    <tr class="table-info">
                                        <td colspan="7">
                                            <h3 class="card-title">{{ tipoApoyo.descripcion }}</h3>
                                            <a v-if="!editMetas" href="#!" @click="agregarActividad(tipoApoyo.id)">Agregar actividad</a>
                                        </td>
                                    </tr>
                                    <template v-for="(actividad, index) in tipoApoyo.actividades">
                                        <tr>
                                            <td width="10%">
                                                <template v-if="!editMetas">
                                                    <a href="#!" @click="editarActividad(actividad, index)">{{ actividad.activdad }}</a>
                                                </template>
                                                <template v-else>
                                                    {{ actividad.activdad }}
                                                </template>
                                            </td>
                                            <td width="10%">{{ actividad.proposito }}</td>
                                            <td width="10%">{{ actividad.tipo_accion }}</td>
                                            <td width="10%" class="text-right">{{ actividad.presupuesto_estimado }}</td>
                                            <td width="10%" class="text-right">{{ actividad.presupuesto_ejercido }}</td>
                                            <td width="10%">{{ actividad.observaciones }}</td>
                                            <td width="10%">
                                                <button v-if="!editMetas" class="btn btn-link" @click="agregarMetas(tipoApoyo.id, actividad.id)">Ver metas</button>
                                                <button v-else class="btn btn-link" @click="terminarMetas">Cerrar</button>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="editMetas">
            <div class="col">
                <meta-card :actividad-id="actividad_id" :metas="actividad_metas" @actualizaMetas="actualizaMetas"></meta-card>
            </div>
        </div>
    </div>
</template>

<script>
    import ActividadForm from '../../components/programas/ActividadFormComponent';
    import MetaCard from '../../components/programa_actividades/MetasCardComponent';

    export default {
        props: ['progr'],
        components: {ActividadForm, MetaCard},
        data() {
            return {
                programa: {},
                actividad: {},
                editMode: false,
                editMetas: false,
                nuevo_tipo: {
                    descripcion: ''
                },
                tipos: [],
                bckTipos: [],
                actividad_id: null,
                actividad_metas: [],
                form: {
                    index_actividad: null,
                    action: 'Guardar'
                }
            }
        },
        created: function () {
            this.programa = clone(this.progr);
            this.tipos = this.programa.tipo_apoyos;
        },
        methods: {
            save(actividad) {
                if (this.form.action == 'Guardar') {
                    axios.post(route('actividades.store', this.programa.id), {
                        actividad: actividad
                    })
                        .then(res => {
                            this.tipos[_.findIndex(this.tipos, function (t) {
                                return t.id == actividad.programa_tipo_apoyo_id;
                            })].actividades.push(res.data.actividad);

                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'success',
                                title: ':)',
                                text: 'La actividad se guardó correctamente'
                            });
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'error',
                                title: '',
                                text: 'Lo sentimos, algo ha salido mal, intente de nuevo'
                            });
                        })
                } else {
                    axios.put(route('actividades.update', [this.programa.id, actividad.id]), {
                        programa_tipo_apoyo_id: actividad.programa_tipo_apoyo_id,
                        activdad: actividad.activdad,
                        proposito: actividad.proposito,
                        tipo_accion: actividad.tipo_accion,
                        presupuesto_estimado: actividad.presupuesto_estimado,
                        presupuesto_ejercido: actividad.presupuesto_ejercido,
                        observaciones: actividad.observaciones,
                    })
                        .then(res => {
                            this.tipos[_.findIndex(this.tipos, function (t) {
                                return t.id == actividad.programa_tipo_apoyo_id;
                            })].actividades[this.form.index_actividad] = res.data.actividad;

                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'success',
                                title: ':)',
                                text: 'La actividad se guardó correctamente'
                            });
                        })
                        .catch(err => {
                            console.log('errror');
                            console.log(err.response);
                        })
                }
            },
            close() {
                this.editMode = !this.editMode;
                this.actividad = {};
                this.form.action = 'Guardar';
                this.form.index_actividad = null;
            },
            agregarActividad(tipoApoyoId) {
                this.editMode = !this.editMode;
                this.actividad = {
                    programa_tipo_apoyo_id: tipoApoyoId,
                    activdad: '',
                    proposito: '',
                    tipo_accion: '',
                    presupuesto_estimado: '',
                    presupuesto_ejercido: '',
                    observaciones: '',
                }
            },
            saveNuevoTipo() {
                axios.post(route('api.tipo.apoyos', this.programa.id), {
                    descripcion: this.nuevo_tipo.descripcion,
                })
                    .then(res => {
                        this.tipos.push(res.data.tipo);
                        this.nuevo_tipo.descripcion = '';
                        this.$notify({
                            group: 'programa-actividades-index',
                            type: 'success',
                            title: ':)',
                            text: 'El componente o subprograma se guardó correctamente'
                        });
                    })
                    .catch(err => {
                        console.log(res.response);
                        this.$notify({
                            group: 'programa-actividades-index',
                            type: 'error',
                            title: '',
                            text: 'Lo sentimos, algo ha salido mal, intente de nuevo'
                        });
                    })
            },
            agregarMetas(tipoApoyoId, actividadId) {
                this.actividad_id = actividadId;
                this.bckTipos = clone(this.tipos);
                this.tipos = _.filter(this.tipos, function (t) {
                    return t.id == tipoApoyoId;
                });

                this.tipos[0].actividades = _.filter(this.tipos[0].actividades, function (t) {
                    return t.id == actividadId;
                });
                this.actividad_metas = this.tipos[0].actividades[0].metas;
                this.editMetas = true;
            },
            terminarMetas() {
                //location.reload();
                this.tipos = this.programa.tipo_apoyos;
                this.bckTipos = [];
                this.editMetas = false;
                this.actividad_id = null;
                this.actividad_metas = [];
            },
            actualizaMetas() {
                axios.get(route('api.programas.show', this.programa.id))
                    .then(res => {
                        this.programa = res.data.programa;
                    })
                    .catch(err => {
                        console.log(err.response)
                    })
                /*let tipo_id = this.tipos[0].id;

                let indexTipoApoyo = _.findIndex(this.programa.tipo_apoyos, function (t) {
                    return t.id == tipo_id
                });

                let indexActividades = _.findIndex(this.programa.tipo_apoyos[indexTipoApoyo].actividades, function (a) {
                    return a.id == args.actividad_id;
                });

                let indexTipoApoyoBck = _.findIndex(this.bckTipos, function (t) {
                    return t.id == tipo_id
                });

                let indexActividadesBck = _.findIndex(this.bckTipos[indexTipoApoyo].actividades, function (a) {
                    return a.id == args.actividad_id;
                });

                this.programa.tipo_apoyos[indexTipoApoyo].actividades[indexActividades].metas.push(args.meta);
                this.bckTipos[indexTipoApoyoBck].actividades[indexActividadesBck].metas.push(args.meta);
                this.tipos[0].actividades[0].metas.push(args.meta);
                this.actividad_metas = this.tipos[0].actividades[0].metas;*/
            },
            editarActividad(actividad, index) {
                this.actividad = actividad;
                this.form.action = 'Actualizar';
                this.form.index_actividad = index;
                this.editMode = !this.editMode;
            }
        }
    }
</script>

<style scoped>

</style>