<template>
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Metas</h3>
            <a href="#!" @click="editMode = !editMode" v-if="!editMode">Agregar meta</a>
        </div>
        <div class="card-body" v-if="editMode">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form @submit.prevent="save">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="">Beneficiario</label>
                                <select v-model="nueva_meta.beneficiario_id" class="form-control">
                                    <option disabled value="">Seleccione...</option>
                                    <option v-for="option in beneficiarios" :value="option.id">
                                        {{ option.descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="">Partida presupuestal</label>
                                <select v-model="nueva_meta.partida_presupuestal_id" class="form-control">
                                    <option disabled value="">Seleccione...</option>
                                    <option v-for="option in partidas" :value="option.id">
                                        {{ option.descripcion }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col"><label for="">Meta programada</label><input v-model="nueva_meta.programada" type="number" class="form-control"></div>
                            <div class="form-group col"><label for="">Meta alcanzada</label><input v-model="nueva_meta.alcanzada" type="number" class="form-control"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col"><label for="">Fecha inicio</label><input v-model="nueva_meta.fecha_inicio" type="date" class="form-control"></div>
                            <div class="form-group col"><label for="">Fecha fin</label><input v-model="nueva_meta.fecha_fin" type="date" class="form-control"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <button class="btn btn-success" type="submit">{{action}}</button>
                                <button class="btn btn-default" type="button" @click="editMode = !editMode">Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0" v-if="!editMode">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th class="text-center" colspan="2">
                            Meta
                        </th>
                        <th class="text-center" colspan="2">Fecha</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Beneficiario</th>
                        <th>Partida</th>
                        <th>Programada</th>
                        <th>Alcanzada</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Avance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(meta,index) in draft_metas" :key="meta.id">
                        <td width="10%">
                            <a href="#!" @click="editarMeta('Editar', meta, index)">{{ meta.beneficiario.descripcion }}</a>
                        </td>
                        <td width="10%">{{ meta.partida_presupuestal.descripcion }}</td>
                        <td width="10%">{{ meta.programada }}</td>
                        <td width="10%">{{ meta.alcanzada }}</td>
                        <td width="10%">{{ meta.fecha_inicio }}</td>
                        <td width="10%">{{ meta.fecha_fin }}</td>
                        <td width="20%">
                            <vue-slider :ref="meta.id" :clickable="false" :min="0" :max="100" :interval="1" v-model="meta.avance"
                                        @drag-end="dragEnd(meta.id, meta.avance)"></vue-slider>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component'

    export default {
        props: ['actividadId', 'metas'],
        components: {vueSlider},
        data() {
            return {
                beneficiarios: [],
                partidas: [],
                draft_metas: clone(this.metas),
                nueva_meta: {},
                editMode: false,
                action: 'Guardar',
                meta_index: null,
            }
        },
        created: function () {
            axios.get(route('api.beneficiarios'))
                .then(res => {
                    this.beneficiarios = res.data.beneficiarios;
                })
                .catch(err => {
                });

            axios.get(route('api.partidas.presupuestales'))
                .then(res => {
                    this.partidas = res.data.partidas;
                })
                .catch(err => {
                });
        },
        watch: {
            editMode: function () {
                if (!this.editMode) {
                    this.nueva_meta = {};
                    this.action = 'Guardar';
                } else {
                    if (this.action == 'Guardar') {
                        this.nueva_meta = {
                            programa_tipo_apoyo_actividad_id: this.actividadId,
                            beneficiario_id: '',
                            partida_presupuestal_id: '',
                            programada: '',
                            alcanzada: '',
                            fecha_inicio: '',
                            fecha_fin: '',
                            avance: 0,
                        }
                    }
                }
            }
        },
        methods: {
            save() {
                if (this.action == 'Guardar') {
                    axios.post(route('api.metas.store', this.actividadId), {
                        meta: this.nueva_meta
                    })
                        .then(res => {
                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'success',
                                title: ':)',
                                text: 'La meta se guardó correctamente'
                            });
                            let args = {
                                meta: res.data.meta,
                                actividad_id: this.actividadId
                            };
                            this.$emit('actualizaMetas');
                            this.draft_metas.push(res.data.meta);
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'error',
                                title: '',
                                text: 'Lo sentimos, algo ha salido mal, intente de nuevo'
                            });
                        })
                } else {
                    axios.put(route('api.metas.update', [this.actividadId, this.nueva_meta.id]), {
                        meta: this.nueva_meta
                    })
                        .then(res => {
                            this.draft_metas[this.meta_index] = res.data.meta;
                            this.$emit('actualizaMetas');
                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'success',
                                title: ':)',
                                text: 'La meta se actualizó correctamente'
                            });
                        })
                        .catch(err => {
                            console.log(err.response);
                            this.$notify({
                                group: 'programa-actividades-index',
                                type: 'error',
                                title: '',
                                text: 'Lo sentimos, algo ha salido mal, intente de nuevo'
                            });
                        })
                }
            },
            editarMeta(action, meta, index) {
                this.meta_index = index;
                this.nueva_meta = {
                    id: meta.id,
                    programa_tipo_apoyo_actividad_id: this.actividadId,
                    beneficiario_id: meta.beneficiario_id,
                    partida_presupuestal_id: meta.partida_presupuestal_id,
                    programada: meta.programada,
                    alcanzada: meta.alcanzada,
                    fecha_inicio: meta.fecha_inicio,
                    fecha_fin: meta.fecha_fin,
                    avance: meta.avance,
                };
                this.action = 'Actualizar';
                this.editMode = !this.editMode;
            },
            dragEnd: _.debounce(function (metaId, metaAvance) {
                axios.patch(route('api.update.avance.meta', metaId), {
                    avance: metaAvance
                })
                    .then(res => {
                        this.$notify({
                            group: 'programa-actividades-index',
                            type: 'success',
                            title: ':)',
                            text: 'El avance de la activdad se guardó correctamente'
                        });
                        this.$emit('actualizaMetas');
                    })
                    .catch(err => {
                        console.log(err.response);
                        this.$notify({
                            group: 'programa-actividades-index',
                            type: 'error',
                            title: '',
                            text: 'Lo sentimos, algo ha salido mal, intente de nuevo'
                        });
                    })
            }, 300),
        }

    }
</script>

<style scoped>

</style>